<div class="container">
    <div class="serv">
        <h5 style="color: orange;">OUR SERVICES</h5>
    </div>
    <div class="msg">
        <h1>Our team will take your business presence to new level</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <i class="fa fa-wpforms" style="font-size:24px;color: orange;"></i>
            <h1>Strategy.</h1>
            <p>Ship it user story iterate engaging co-working intuitive pitch deck hacker pretotype SpaceTeam user
                centered design big data.</p>
                <h5 href="*" style="color: white;margin-inline-start: auto;">SEE DETAILS <i style="color: orange;"
                    class="fa fa-long-arrow-right"></i></h5>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-wpforms" style="font-size:24px;color: orange;"></i>
            <h1>Branding.</h1>
            <p>Ship it user story iterate engaging co-working intuitive pitch deck hacker pretotype SpaceTeam user
                centered design big data.</p>
                <h5 href="*" style="color: white;margin-inline-start: auto;">SEE DETAILS <i style="color: orange;"
                    class="fa fa-long-arrow-right"></i></h5>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-wpforms" style="font-size:24px;color: orange;"></i>
            <h1>Design.</h1>
            <p>Ship it user story iterate engaging co-working intuitive pitch deck hacker pretotype SpaceTeam user
                centered design big data.</p>
                <h5 href="*" style="color: white;margin-inline-start: auto;">SEE DETAILS <i style="color: orange;"
                    class="fa fa-long-arrow-right"></i></h5>
        </div>
    </div>
</div>