.container{
    background-color: rgb(63, 62, 62);   
}
.serv{
  justify-content: center;
  text-align: center;
  padding: 55px;
}
.msg{
    display: flex;
    justify-content: center;
    color: white;
}
.row{
    padding: 70px;
}
.col-sm-4{
    color: white;
}