<!-- <div class="co"></div> -->
<div class="container"  [ngStyle]="{'background': 'url(' + backgroundUrl + ') no-repeat 0 0 / cover'}">
    <div class="text">
        <h2 style="color: white;">We're <h1 href="" style="color: orange;">Fusion</h1>, We Build Things for Human</h2>
    </div>
    <div class="azert">
        <h5>DESIGN</h5>
        <h5 class="a">|</h5>
        <h5>STRATEGY</h5>
        <h5 class="a">|</h5>
        <h5>BRANDING</h5>
    </div>
    <div class="botom" style="border-color:1px orangered; padding: 172px;">
        <h1 style="color: orange;">F</h1>
        <h5 href="*" style="color: white;margin-inline-start: auto;">GET IN TOUCH <i style="color: orange;"
                class="fa fa-long-arrow-right"></i></h5>
    </div>
</div>
